@media screen and (min-width: 661px) {
  header,
  .content,
  .main-article,
  .charts,
  nav,
  .container,
  footer {
    display: flex;
  }
  header {
    padding: 2.5%;
    justify-content: space-between;
    font-size: 24px;
    align-items: baseline;
  }

  article img {
    width: 480px;
    border: 12px solid #302e2d;
  }
  .home-main-photo {
    width: 800px;
    height: 420px;
    border-color: rgb(66, 65, 65);
    border-style: solid;
  }

  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .article-box{
    margin: 40px 400px;
  }

  .article-box p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
  }

  #user-sign {
    width: 100%;
    height: auto;
  }
  #user-sign input {
    width: auto;
  }
}

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-VariableFont_wght.ttf") format("opentype");
}

* {
  /* box-sizing: border-box; */
  font-family: "Raleway Black", sans-serif;
}

h1 {
  color: #302e2d;
  font-size: 40px;
  font-weight: 900px;
}
h2 {
  color: #302e2d;
  font-weight: 900px;
}
p,
div {
  font-family: "Open Sans";
}

body,
header,
.charts {
  background-color: black;
}

body {
  margin: 0;
}

footer,
.content,
.container,
.logo {
  display: flex;
}

/* header{
    justify-content: space-between;
    margin-bottom: 10px;
} por las dudas */

img {
  height: auto;
  width: 100%;
}
li {
  padding: 2px;
}

/* FOOTER */
footer {
  background-color: rgb(228, 215, 180);
  padding: 2.5%;
  font-size: 24px;
  justify-content: center;
}
i {
  margin: 5px 20px;
  padding: 5px;
}

/* LOGO */
.logo {
  justify-content: center;
}
.logo img {
  height: auto;
  width: 40%;
}


/* NAV BAR */
.nav {
  display: none;
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
}

.navitem {
  background-color: black;
  margin: 0 10px;
  padding: 10px;
}
.navitem:hover {
  background-color: #fdd75b;
}
.nostyle {
  text-decoration: inherit;
  color: white;
}
.btn {
  background-color: #f56e02;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn:hover {
  border: 2px solid #ffbb37;
}

/* INDEX */
.content {
  margin: 20px 0;
  padding-top: 40px;
  background-color: #f56e02;
  justify-content: right;
  flex-direction: column;
  flex-wrap: wrap;
}
.main-article {
  flex-direction: column;
  text-align: center;
  margin: 10px;
}
.noticias {
  background-color: #44b1ac;
  margin: 5px;
  padding: 50px;
  font-size: large;
}

.charts {
  margin: 20px 20px;
  padding: 15px;
  font-size: large;
  color: aliceblue;
}
.spotify {
  background-color: #188634b4;
  padding: 10px 30px;
  border-radius: 4px;
}
.chart {
  background-color: #9e5b18b4;
  padding: 10px;
  border-radius: 4px;
}

table,
td,
tr,
thead {
  border-color: #000000;
  border-style: solid;
  border-width: 2px;
  border-collapse: collapse;
  padding: 4px;
}

/* MAIN-ARTICLE */
.not-index .logo-img {
  height: 150px;
  width: 150px;
}
.a-under {
  text-decoration: underline;
  color: #000000;
}
.embed-div {
  text-align: center;
}

.encabezado {
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

.article-container {
  background-color: rgb(66, 65, 65) ;
}
.article-box {
  font-size: large;
  padding: 50px;
}
h3 {
  font-weight: normal;
  font-size: 21px;
}
iframe {
  width: 100%;
  height: auto;
}

/* TOGGLER */
.show {
  display: block;
}

